// colors
$accentColor = #3eaf7c;
$textColor = #2c3e50;
$borderColor = #eaecef;
$darkColor = #212121;

$contentWidth = 740px;

// responsive breakpoints
$MQNarrow = 959px;
$MQMobile = 719px;
$MQMobileNarrow = 419px;
